*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    background-color: orange;
}

.game__container {
    text-align: center;
}

.game__timer {
    font-size: 80px;
}

.game__puzzle {
    width: 600px;
    height: 600px;
    background-color: tomato;
}

.game__start--button {
    font-size: 60px;
    margin: 10px;
    border: 2px solid wheat;
    border-radius: 4px;
    padding: 8px;
    transition: all 300ms ease-in;
}

.game__start--button:hover {
    transform: scale(1.1);

}

.game__text{
    position: absolute;
    top: 45%;
    font-size: 50px;
    display: none;
}

@media screen and (max-width: 768px){
    .game__puzzle {
        width: 400px;
        height: 400px;
    }

    .game__timer {
        font-size: 42px;
    }

    .game__start--button {
        font-size: 30px;
    }

    .game__text {
        top: 30%;
        font-size: 40px;
    }
}