*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    background-color: orange;
}

.game__container {
    text-align: center;
}

.game__timer {
    font-size: 80px;
}

.game__puzzle {
    width: 600px;
    height: 600px;
    background-color: tomato;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

li {
    width: 150px;
    height: 150px;
    color: #fff;
    background: url(img/emma.jpeg);
    background-size: 600px;
}

.game__start--button {
    font-size: 60px;
    margin: 15px 0 0;
    border: 2px solid wheat;
    border-radius: 4px;
    padding: 8px 16px;
    transition: all 300ms ease-in;
    
}

.game__start--button:hover {
    transform: scale(1.1);
}

.game__text{
    position: absolute;
    top: 45%;
    font-size: 50px;
    display: none;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.list0 {
    background-position-x: 0px;
    background-position-y: 0px;
}

.list1 {
    background-position-x: -150px;
    background-position-y: 0px;
}

.list2 {
    background-position-x: -300px;
    background-position-y: 0px;
}

.list3 {
    background-position-x: -450px;
    background-position-y: 0px;
}

.list4 {
    background-position-x: 0px;
    background-position-y: -150px;
}

.list5 {
    background-position-x: -150px;
    background-position-y: -150px;
}

.list6 {
    background-position-x: -300px;
    background-position-y: -150px;
}

.list7 {
    background-position-x: -450px;
    background-position-y: -150px;
}

.list8 {
    background-position-x: 0px;
    background-position-y: -300px;
}

.list9 {
    background-position-x: -150px;
    background-position-y: -300px;
}

.list10 {
    background-position-x: -300px;
    background-position-y: -300px;
}

.list11 {
    background-position-x: -450px;
    background-position-y: -300px;
}

.list12 {
    background-position-x: 0px;
    background-position-y: -450px;
}

.list13 {
    background-position-x: -150px;
    background-position-y: -450px;
}

.list14 {
    background-position-x: -300px;
    background-position-y: -450px;
}

.list15 {
    background-position-x: -450px;
    background-position-y: -450px;
}



@media screen and (max-width: 768px){
    .game__puzzle {
        width: 400px;
        height: 400px;
        margin: 16px;
    }

    li {
        width: 100px;
        height: 100px;
        background-size: 400px;
    }

    .game__timer {
        font-size: 42px;
    }

    .game__start--button {
        font-size: 30px;
    }

    .game__text {
        top: 30%;
        font-size: 40px;
    }

    .list0 {
        background-position-x: 0px;
        background-position-y: 0px;
    }
    
    .list1 {
        background-position-x: -100px;
        background-position-y: 0px;
    }
    
    .list2 {
        background-position-x: -200px;
        background-position-y: 0px;
    }
    
    .list3 {
        background-position-x: -300px;
        background-position-y: 0px;
    }
    
    .list4 {
        background-position-x: 0px;
        background-position-y: -100px;
    }
    
    .list5 {
        background-position-x: -100px;
        background-position-y: -100px;
    }
    
    .list6 {
        background-position-x: -200px;
        background-position-y: -100px;
    }
    
    .list7 {
        background-position-x: -300px;
        background-position-y: -100px;
    }
    
    .list8 {
        background-position-x: 0px;
        background-position-y: -200px;
    }
    
    .list9 {
        background-position-x: -100px;
        background-position-y: -200px;
    }
    
    .list10 {
        background-position-x: -200px;
        background-position-y: -200px;
    }
    
    .list11 {
        background-position-x: -300px;
        background-position-y: -200px;
    }
    
    .list12 {
        background-position-x: 0px;
        background-position-y: -300px;
    }
    
    .list13 {
        background-position-x: -100px;
        background-position-y: -300px;
    }
    
    .list14 {
        background-position-x: -200px;
        background-position-y: -300px;
    }
    
    .list15 {
        background-position-x: -300px;
        background-position-y: -300px;
    }
}